/* .container {
  display: grid;
  
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.item-1, .item-2, .item-3, .item-4 {
  background-color: #f00;
  min-width: 300px;
  height: 200px;
  border: 2px solid #ccc;
} */


.container {
  display: grid;
  grid-template-columns: minmax(50px, 300px) 1fr 300px;
  height: 100vh;
  column-gap: 10px;
  row-gap: 10px;
  align-items: start;
  justify-items: start;
  
}

.container div {
  background: #ccc;
  height: 100px;
  width: 100px;
  text-align: center;
}