* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
}

.logo-container {
  padding: 20px;
  text-align: center;
}
.logo-container a {
  text-decoration: none;
}
header .links {
  text-align: center;
}
header .links a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
  color: #000;
}

header .links a.active {
  color: #6581d6;
}
footer .footer-links {
  text-align: center;
}
footer .footer-links a {
  color: #6A6A6A;
  text-decoration: none;
  font-size: 15px;
}
.clear-fix {
  clear: both;
}
.project-items {
  padding: 40px;
}
.project-items .project-item {
  width: 400px;
  height: 250px;
  margin: 5px;
  float: left;
}

.project-item:hover {
  opacity:0.1;
}