body {
  margin: 0;
}
.ruler {
  width: 100%;
  height: 4px;
  background-color: rgb(223, 230, 180);
}

.date-container {
  display: flex;
  align-items: center;
}

.date-container .ruler {
  width: 100px;
  margin-right: 60px;
}
.harmbugger-container {
  display: flex;
  flex-direction: row-reverse;

}
.harmbugger {
  width: 80px;
  height: 50px;
  background: red;
}
.Menu .nav {
  display: none;
}
@media screen and (min-width: 590px) {
  .Menu .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .harmbugger-container {
    display: none;
  }
}
.Menu .nav a {
  text-decoration: none;
  padding: 10px 6px;
  flex: 1;
  text-align: center;
  background-color: blueviolet;
  color: #f2f2f2;
}

.Menu .nav a:hover {
  background-color: rgb(87, 50, 122);
}
